doctype html
html
  head
    title #{title}
    style(type='text/css').
      html,
      body {
      background-color: #111;
      text-align: center;
      }
  body
    canvas#video-canvas

    script(type='text/javascript', src='https://cdn.jsdelivr.net/gh/phoboslab/jsmpeg/jsmpeg.min.js')
    script(type='text/javascript').
      var canvas = document.getElementById("video-canvas");
      var url = "!{url}";
      var player = new JSMpeg.Player(url, { canvas: canvas });
