doctype html
html
  head
    meta(name='viewport', content='width=640, initial-scale=1')
    title Streaming
    style(type='text/css').
      body {
      background: black;
      text-align: center;
      margin-top: 10%;
      }
      #videoCanvas {
      background: red;
      width: 640px;
      height: 480px;
      }
  body
    script(src='https://cdn.shinobi.video/js/socket.io.js')
    // Special JSMPEG Start
    // You need this version. Check for updates here https://github.com/ShinobiCCTV/jsmpeg-pipe
    script(src='https://cdn.shinobi.video/js/jsmpeg.pipe.js')
    // Special JSMPEG End
    canvas#canvas(width='640', height='480')
    script.
      //start socket.io client connection
      var socket = io();
      //on socket.io connection success
      socket.on('connect', function () {
      //pretend this is the command you use to initiate getting H.264 (MPEG) data
      socket.emit('f', { function: 'getStream'})
      })
      // initiate a player that can be piped to.
      var player = new JSMpeg.Player('pipe', {
      canvas: document.getElementById('canvas')
      });
      //on data from "h264" handle
      socket.on('h264', function (data) {
      // `data.buffer` is the raw video data from FFMPEG
      // pretend you are getting data as follows
      // var data = {buffer:ArrayBuffer}
      player.write(data.buffer)
      });
